<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >
<web-app>  
  <display-name>sample-mvn</display-name>
  
  <servlet>
    <display-name>SampleController</display-name>
    <servlet-name>SampleController</servlet-name>
    <servlet-class>com.ibm.samplemvn.SampleRequestController</servlet-class>
  </servlet>
 
  <servlet-mapping>
    <servlet-name>SampleController</servlet-name>
    <url-pattern>/hello</url-pattern>
  </servlet-mapping>
  
</web-app>
